/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
     width: 100%;
     height: 100%;
     font-size: 12px;
     line-height: 1.3;
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     background-color: #F2F0F2;
}

/* Center the container */
#container {
	width: 100%;
     height: 100%;
	margin: auto;
     text-align: center;
     position: relative;

}

header {
     margin: auto;
     padding-top: 6px;
     margin-bottom: 10px;
     text-align: center;
     border-bottom: solid #E97135 2px;
     background-color: #F7C834;
}

footer {
     font-size: .7em;
     font-weight: 300;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

header a {
     display: inline-block;
     font-size: 2em;
     font-weight: bold;
     text-decoration: none;
     color: #E97135;
}

div#main {
     max-width: 600px;
     margin: auto;
     padding-top: 10px;
     margin-bottom: 10px;
     background-color: white;
     border: 0px solid white;
     border-radius: 1px;
     box-shadow: 2px 3px 10px #888888;
}

#date_section {
     background-color: #E97135;
     color: white;
}

#date_section h4 {
     font-size: 0.9em;
     font-weight: bold;
     text-transform: uppercase;
}

#day_of_week {
     margin: auto;
     padding: 7px 15px;
     text-align: left;
     float: left;
}

#date {
     margin: auto;
     padding: 7px 15px;
     text-align: right;
     float: right;
}

#sun-img {
     width: 40px;
     height: 40px;
     margin: 10px;
     margin-top: 3px;

     margin-left: 3%;
}

#loading-img {
     width: 60px;
     height: 60px;
     padding: 15px;
}

#divider {
     width: 85%;
}

#sun-rise {
     float: left;
     width: 33%;
}

#noon {
     float: left;
     width: 33%;
}

#sun-set {
     float: left;
     width: 33%;
}

#setTimeDate {
     padding-top: 5px;
     padding-bottom: 10px;
     display: none;
}

#setTimeDate button {
    padding: 5px 20px;
}
